.img-home-page-events {
  max-width: 10%;
  height: auto;
}

.col {
  aspect-ratio: 1;
  background-color: #e6f3ff;
}
.col:nth-child(1) {
  background-color: #e6f3ff;
}
.col:nth-child(2) {
  background-color: #ffe6e6;
}

.Events_text {
  left: 50%;
  margin-left: -50%;
}
