/* Basic styling for the sponsors section */
.no_underline {
  text-decoration: none;
}

.spacer {
  margin-bottom: 7rem;
}

.sponsors-section {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.sponsors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sponsors-header h2 {
  font-size: 1.5rem;
  color: #1c2e4a;
}

.sponsors-link {
  color: #1c2e4a;
  text-decoration: none;
  font-size: 1rem;
}

.sponsors-link:hover {
  text-decoration: underline;
}

/* Responsive grid layout */
.sponsors-grid {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(120px, 1fr)); /* Adjust size */
  justify-content: center;
}

.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; /* More padding for a balanced look */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.sponsor-item:hover {
  transform: scale(1.05);
}

.sponsor-item img {
  max-width: 100%; /* Ensures the image scales within its container */
  max-height: 60px; /* Keeps logos uniform in height */
  object-fit: contain; /* Ensures images don’t distort */
}

.special-sponsors {

}